
body {
	background-color: #fff;
    color: #243238;
    font-family: "PT Sans",sans-serif;
    font-size: 13px;
    line-height: 16px;
    margin: 0;
    min-width: 320px;
    /*overflow: hidden;*/
    width: 100%;
    background-image: url(https://livedemo00.template-help.com/woocommerce_53811/wp-content/themes/theme53811/images/body-background.jpg);
    background-repeat: repeat;
    background-position: top center;
    background-attachment: scroll;
 	padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.menu-container .container {
	background-color: #000000;
}



.navbar-inverse {
     background-color: transparent; 
     border-color: transparent; 
}

.alinear {
	display: flex;
    justify-content: space-between;
}

.centrado {
	text-align: center;
}

.footer-text {
	color: white;
	font-size: bold;
}

.footer-text a {
	color: white;
	font-size: bold;
	text-decoration: none;
}

.footer-text a:hover {
	color: #ea6231;
	font-size: bold;
	text-decoration: none;
}


.footer-logo {
	margin-bottom: 2em;
}

#footer-container {
    padding-top: 2em;
    padding-bottom: 1em;
    border: none;
    background: transparent;
    text-align: center;
}

.galerry-text {
    color: white;
    margin-top: 2em;
    margin-bottom: 3em;
}

.img-fluid {
	width: 100%;
}
.title-subs {
	color: #ed7108;
}

.title-subs h3 {
	font-size: 36px;
    margin: 0;
}

input[name="EMAIL"] {
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: none;
    height: 55px;
    width: 354px;
    padding: 9px 15px;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 33px;
    font-weight: 900;
    background: transparent;
    margin-bottom: 0;
    color: #ea6231;
    border: 1px solid #be5a06;
    box-shadow: none;
    border-radius: 0;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    transition: all 300ms linear;
}

input[name="EMAIL"]:focus {
    box-shadow: none;
    border: 1px solid #0f324a!important;
    background-color: #06243b!important;
}

.suscribe-container .container {
	background-color: black;
    padding-top: 3em;
    padding-bottom: 2em;
}

input[type="submit"] {
    padding: 12px 10px 16px;
    border-radius: 0;
    background-color: #ed7108;
    border-color: #ed7108;
    font-size: 18px;
    margin-left: 22px;
    text-transform: uppercase;
    border-radius: 0;
}

input[type="submit"]:focus {
    background: #06243b;
    border: 1px solid #0f324a;
    color: #ea6231;
}


.fondo-principal {
  background: url('../images/parallax-image1.jpg') no-repeat center center;
  position: fixed;
  width: 100%;
  height: 700px; /*same height as jumbotron */
  top:0;
  left:0;
  z-index: -1;
}

.principal-container {
  
  width: 100%;
  color: white;
  text-shadow: #444 0 1px 1px;
  /*background:transparent;*/
}

.principal-container .container {
 background: url('../images/parallax-image1.jpg') no-repeat center center;
 height: 863px;

}

.hotDeal-container .container {
 background: url('../images/parallax-image2.jpg') no-repeat center center;
 

}

.input-group {
        margin-top: 1em;
    }

.input-group input.form-control {
    height: 23px;
    border-radius: 0;
}

.input-group button.btn.btn-platzi {
    height: 23px;
    border-radius: 0;
    background: url(../images/search-icon.png) no-repeat center transparent;
}

.circulo {
    border: 2px solid #ea6231;
    border-radius: 50%;
    background-color: black;
}

.thumbnail {
    background-color: transparent;
    border: 0;
}

.caption h3 {
    color: #ea6231;
}

.caption p {
    color: #b0b0b0;
}

.contacto-container {
    padding-top: 3em;
}

.col-xs.text-center h2 {
    color: white;
    font-weight: bold;
}

.circuloDeals {
    border: 9px solid black;
    box-shadow: 0 0 0 1px #ea6231;
    border-radius: 50%;
    background-color: white;
}

.circuloDeals:hover {
    border: 9px solid #ea6231;
    box-shadow: 0 0 0 1px black;
    border-radius: 50%;
    background-color: white;
}

.thumbnail .caption .tituloDeals{
    color: white;
}


/* Contactos*/

.principal-container2 .container {
    background-color: #000000;
    padding-bottom: 2em;
}

.breadcrumb-item.active:before {
    content: " | " !important;
    color:#ffffff;
    font-size: 24px;
}

.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: transparent; /*#06243b*/
}

section#breadcrumbs-container .container {
    padding-top: 1em;
    background-color: #06243b;
    font-size: 24px;
    color: #ffffff;
    font-weight: bold;
}

a.breadcrumb-item {
    color: #ffffff;
    text-decoration: none;
}

a.breadcrumb-item:hover {
    color: #ea6231;
    text-decoration: none;
}

.breadcrumb>.active {
    color: #ea6231;
}

.gmap-container .container {
    padding: 3em;
    background-color: #000000;
}

.contactPrincipal-container .container {
    background-color: #000000;
    /*font: bold 12px/18px Lato;*/
}

.info .text-center {
    margin-bottom: 1em;

}

.info {
    color: #ffffff;
    margin-left: 1em;
}

.info p {
    color: #b0b0b0;
}

address {
    margin-bottom: 20px;
    font-style: normal;
    line-height: 1.42857143;
    color: #b0b0b0;
}

address i {
    color: #ea6231;
    padding-right: 2px;
}

a.correo {
    color: #ffffff;
    text-decoration: none;
}

a.correo:hover {
    color: #ea6231;
    text-decoration: none;
}

.contactForm h2 {
    color: #ffffff;
    margin-bottom: 1em;
}

.form-group input {
    background-color: transparent;
    border-radius: 0;
    border-color: #ea6231;
}
.form-group input:focus {
    background-color: #06243b;
    border-radius: 0;
    border-color: #0f324a;
    text-decoration: none;
    outline: none;
}

.contacto .form-control::-webkit-input-placeholder { color: #ea6231; }
.contacto .form-control:-moz-placeholder { color: #ea6231; }
.contacto .form-control::-moz-placeholder { color: #ea6231; }
.contacto .form-control:-ms-input-placeholder { color: #ea6231; }

.areatext {
    padding-top: 1em;
}

.form-group textarea {
    background-color: transparent;
    border-radius: 0;
    border-color: #ea6231;
}
.form-group textarea:focus {
    background-color: #06243b;
    border-radius: 0;
    border-color: #0f324a;  
    text-decoration: none;
    outline: none;
}

span.btn.button {
    border-color:  #ea6231;
    border-radius: 0;
    color:  #ea6231;
}

span.btn.button:hover {
    border-color:  #0f324a;
    border-radius: 0;
    color:  #ea6231;
    background: #06243b;    
    text-decoration: none;
    outline: none;
}

/*Shop Container*/

.resShop-container .container {
    background-color: #000000;
    padding-top: 2em;
    padding-bottom: 1em;
}

.textoResult {
    color: #b0b0b0;
    font-size: 15px;
    font-weight: 700;   
}

.selectMid {
    padding-top: 0.5em;
}

.selectShop {
    box-sizing: border-box;
    box-shadow: none;
    background: transparent;
    border: 1px solid #be5a06;
    color: #ea6231;
    text-decoration: none;
    outline: none;
    padding: 3px 3px;
    width: 200px;
}

.selectShop:focus {
    box-sizing: border-box;
    box-shadow: none;
    background: transparent;
    border: 1px solid #be5a06;
    color: #ea6231;
    text-decoration: none;
    outline: none;
}

.carshop-container .container {
    background-color: #000000;
    padding-top: 2em;
}

.price {
    color: #ea6231;
    font-size: 18px;
    line-height: 30px;
    float: none;
    text-align: center;
}

.price ins {
    text-decoration: none;
}

.description {
    color: #b0b0b0;
    padding: 0 0 10px 0;
}

.thumbnail a {
    text-decoration: none;
}
.pag-container .container {
    background-color: #000000;
}

.pagination>li>a {
    background-color: transparent;
    border-radius: 0;
    color: #ffffff;
    border: solid 1px #ea6231;
}

.pagination>li>a:hover {
    background-color: #06243b;
    border-radius: 0;
    color: #ea6231;
    border: solid 1px #ea6231;/**/
}

@media (max-width: 768px) {

 .buscarbox {
    padding-right: 3em;
    padding-left: 3em;
    margin-bottom: 1em;
    }

.col-xs.col-sm-6.text-right.title-subs {
    text-align: center;
    }
}
    
    